<div class="w-full flex justify-center mt-10">

  <div class="w-[1100px] bg-white shadow rounded-xl p-6">

    <h1 class="text-3xl font-semibold mb-6">Dashboard</h1>

    <div class="flex items-center justify-between mb-6">

      <!-- Search -->
      <input [(ngModel)]="search" (input)="applyFilter()" type="text" placeholder="Search provider..." class="px-4 py-2 rounded-lg border border-gray-200 bg-white w-64 text-sm
  shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />


      <div class="flex items-center gap-2">

        <!-- Filters -->
        <button (click)="setFilter('all')"
          [ngClass]="filter==='all' ? 'bg-gray-900 text-white shadow' : 'bg-white text-gray-700 border'"
          class="px-4 py-2 rounded-xl text-sm border transition">
          All
        </button>

        <button (click)="setFilter('operational')"
          [ngClass]="filter==='operational' ? 'bg-green-600 text-white shadow' : 'bg-white text-gray-700 border'"
          class="px-4 py-2 rounded-xl text-sm border transition">
          Green
        </button>

        <button (click)="setFilter('degraded')"
          [ngClass]="filter==='degraded' ? 'bg-orange-500 text-white shadow' : 'bg-white text-gray-700 border'"
          class="px-4 py-2 rounded-xl text-sm border transition">
          Orange
        </button>

        <button (click)="setFilter('down')"
          [ngClass]="filter==='down' ? 'bg-red-600 text-white shadow' : 'bg-white text-gray-700 border'"
          class="px-4 py-2 rounded-xl text-sm border transition">
          Red
        </button>

        <!-- Refresh -->
        <button (click)="load()" class="px-4 py-2 rounded-xl bg-gray-900 text-white text-sm shadow">
          ⟳ Refresh
        </button>

        <!-- Auto -->
        <span class="text-sm text-gray-500 ml-2">Auto: OFF</span>

      </div>
    </div>

    <!-- Table -->
    <div class="overflow-hidden  rounded-xl border" *ngIf="!loading">
      <table class="w-full text-sm">
        <thead class="bg-white bg-[#F1F5F9]
 border-b">

          <tr>
            <th class="py-3 px-5 text-left font-semibold">Provider ▲</th>
            <th class="py-3 px-5 text-left font-semibold">Status</th>
            <th class="py-3 px-5 text-left font-semibold">Trend</th>
            <th class="py-3 px-5 text-left font-semibold">Last latency</th>
            <th class="py-3 px-5 text-left font-semibold">Avg (24h)</th>
            <th class="py-3 px-5 text-left font-semibold">Uptime 24h</th>
            <th class="py-3 px-5 text-left font-semibold">Uptime 7d (SLA)</th>
            <th class="py-3 px-5 text-left font-semibold">Incidents (24h)</th>
            <th class="py-3 px-5 text-left font-semibold">Last check</th>
          </tr>
        </thead>


        <tbody class="divide-y">
          <tr *ngFor="let p of filtered" class="hover:bg-gray-50 transition">

            <!-- PROVIDER -->
            <td class="py-4 px-5 font-medium text-blue-600 cursor-pointer hover:underline"
              [routerLink]="['/providers', p.providerName.toLowerCase()]">
              {{ p.providerName }}
            </td>

            <!-- STATUS -->
            <td class="py-4 px-5 flex items-center gap-2">
              <span class="w-3 h-3 rounded-full" [ngClass]="{
    'bg-green-500': p.status==='operational',
    'bg-orange-400': p.status==='degraded',
    'bg-red-500': p.status==='down'
  }">
              </span>

              <span class="capitalize">
                {{ p.status === 'operational' ? 'Active' :
                p.status === 'degraded' ? 'Dégradé' :
                'En panne' }}
              </span>

              <span *ngIf="p.status==='degraded'"
                class="px-2 py-0.5 bg-orange-100 text-orange-600 rounded-full text-xs">
                Problème détecté
              </span>

              <span *ngIf="p.status==='down'" class="px-2 py-0.5 bg-red-100 text-red-600 rounded-full text-xs">
                Service indisponible
              </span>

            </td>

            <!-- TREND Sparkline -->
            <td class="py-4 px-5">
              <svg viewBox="0 0 64 20" class="h-6 w-20 text-blue-400">
                <path [attr.d]="sparkPath(p.latencyHistory)" fill="none" stroke="currentColor" stroke-width="1.2" />
              </svg>
            </td>

            <!-- LAST LATENCY + ARROW -->
            <td class="py-4 px-5 flex items-center gap-2">
              <span>{{ p.lastLatency }} ms</span>

              <span *ngIf="p.lastLatency > p.avgLatency3h" class="text-red-500 text-sm font-semibold">▲</span>
              <span *ngIf="p.lastLatency < p.avgLatency3h" class="text-green-600 text-sm font-semibold">▼</span>
              <span *ngIf="p.lastLatency === p.avgLatency3h" class="text-gray-400 text-base">•</span>
            </td>

            <!-- AVG -->
            <td class="py-4 px-5">
              {{ p.avgLatency3h | number:'1.0-1' }} ms
            </td>

            <!-- UPTIME 24H -->
            <td class="py-4 px-5">
              <span class="px-2.5 py-0.5 rounded-md text-xs font-medium" [ngClass]="{
        'bg-green-100 text-green-700': p.availability24h >= 99,
        'bg-orange-100 text-orange-700': p.availability24h >= 96 && p.availability24h < 99,
        'bg-red-100 text-red-700': p.availability24h < 96
      }">
                {{ p.availability24h | number:'1.0-2' }}%
              </span>
            </td>

            <!-- UPTIME 7D SLA -->
            <td class="py-4 px-5">
              <span class="px-2.5 py-0.5 rounded-md text-xs font-medium" [ngClass]="{
        'bg-green-100 text-green-700': p.availability7d >= 99,
        'bg-orange-100 text-orange-700': p.availability7d < 99
      }">
                {{ p.availability7d | number:'1.0-2' }}% SLA
              </span>
            </td>

            <!-- INCIDENTS -->
            <td class="py-4 px-5">
              <span class="px-2 py-0.5 rounded-full text-xs font-semibold" [ngClass]="{
        'bg-green-100 text-green-700': p.incidents24h === 0,
        'bg-orange-100 text-orange-700': p.incidents24h === 1,
        'bg-red-100 text-red-700': p.incidents24h >= 2
      }">
                {{ p.incidents24h }}
              </span>
            </td>

            <!-- LAST CHECK -->
            <td class="py-4 px-5 text-gray-400">
              {{ timeAgo(p.lastCheckAt) }}
            </td>


          </tr>

        </tbody>
      </table>
    </div>



  </div>
</div>