@tailwind base;
@tailwind components;
@tailwind utilities;



/* helpers */
.badge { @apply inline-flex items-center rounded-full px-2 py-0.5 text-xs font-medium; }
.badge-up { @apply badge bg-green-600/10 text-green-700; }
.badge-down { @apply badge bg-red-600/10 text-red-700; }
.badge-unk { @apply badge bg-gray-200 text-gray-700; }